body {
  background-color: #F5BB00;
  margin: 0;
  font-family: "Righteous", cursive;
}

button {
  border: none;
  background-color: #F5BB00;
  font-family: "Righteous", cursive;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 calc(20% - 1em);
}

img {
  width: 90%;
  margin: 5%;
}

input {
  font-size: 1em;
  background-color: whitesmoke;
  border: 2em;
}

.user-name {
  display: flex;
  justify-content: flex-end;
  background-color: #BF3100;
  color: #EC9F05;
  margin: 0;
  padding: 0.5em;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 4em;
  background-color: #BF3100;
  color: #EC9F05;
  margin: 0;
  padding-bottom: 0.5em;
}

.search-bar {
  display: flex;
  display: grid;
  flex-direction: row;
  grid-template-columns: 4fr repeat(4, 1fr);
  padding: 1em;
}

.icon {
  width: 2.5em;
  padding: 0em 3em 0em;
}

main {
  margin: 2.5%;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5%;
}

.card-btn,
.card {
  background-color: #EC9F05;
}

.button-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

p,
h3 {
  text-align: center;
}

.recipe-card-mover {
  display: flex;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(2, 1fr);
  padding: 3em;
}